.App {
  margin: 0 auto;
  width: 350px;
}
.expenseDetail{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.list li{
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.inputForm{
  font-size: 20px;
  width: 94%;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px;
}
.formButton{
  font-size: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}