.App {
  margin: 0 auto;
  width: 350px;
  border: 2px solid black;
  padding: 20px;
}
.header{
  text-align: center;
}
.expenseDetail{
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.list{
  margin: 0;
  padding: 0;
}
.list li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.inputForm{
  font-size: 20px;
  width: 94%;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px;
}
.formButton{
  font-size: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}